<div class="list">
    <div class="list__search-field">
        <mat-form-field appearance="outline">
            <mat-label>Buscar anotação</mat-label>
            <mat-icon matSuffix (click)="search(searchInput.value)">search</mat-icon>
            <input #searchInput matInput (keyup.enter)="search(searchInput.value)">
        </mat-form-field>
    </div>
    <div class="list__item add-note" (click)="addNote()">
        <mat-icon>add</mat-icon>
    </div>
    <ng-content *ngIf="notes$ | async as notes; else loadNotesTemplate">
        <div class="list__item" *ngFor="let note of notes">
            <app-note-item [note]="note" (select)="onSelectNote($event)" (delete)="onDeleteNote($event)"></app-note-item>
        </div>
    </ng-content>
    
    <ng-template #loadNotesTemplate>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>