<div class="list">
    <div class="list__item add-note" (click)="addNote()">
        <mat-icon>add</mat-icon>
    </div>
    <ng-content *ngIf="notes$ | async as notes; else loadNotesTemplate">
        <div class="list__item" *ngFor="let note of notes">
            <app-note-item [note]="note" (select)="onSelectNote($event)" (delete)="onDeleteNote($event)"></app-note-item>
        </div>
    </ng-content>
    
    <ng-template #loadNotesTemplate>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>