.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(204, 204, 204, 0.8);
    border-radius: 5px;
    margin: 0px;
    padding: 10px 15px;
    height: 100%;
    list-style: none;

    &__search-field{
        width: 100%;
        margin-top: 10px;
        mat-form-field{
            width: 100%;
        }

        mat-icon{
            cursor: pointer;
        }
    }

    &__item  {
        width: 100%;
        height: fit-content;
        margin: 5px 10px;
    }

    .add-note {
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: center;
        border: 1px solid #ccc;
        cursor: pointer;
    
        &:hover {
            background-color: #f0f0f1;
            transition: 0.2s;
        }
    
        mat-icon{
            width: 50px;
            height: 50px;
            font-size: 50px;
            color: #45474e;
        }
    }
}

