
.note {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
    cursor: pointer;

    &__title {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }

    &__preview-text {
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover {
        background-color: #f3f3f3;
        transition: 0.2s;
    }
  }
  
  
  