<main>
    <form [formGroup]="form" class="form">
        <mat-form-field class="form__email">
            <mat-label>Email: </mat-label>
            <input formControlName="email" matInput type="email">
        </mat-form-field>
        <mat-form-field class="form__password">
            <mat-label>Senha: </mat-label>
            <input formControlName="password" matInput type="password">
        </mat-form-field>
        <button (click)="authenticate()" [disabled]="form.invalid || isLoading" class="form__login-button" mat-fab>
            <ng-container *ngIf="!isLoading; else loadingButtonTemplate">
                Login
                <mat-icon>login</mat-icon>
            </ng-container>
            <ng-template #loadingButtonTemplate> <mat-spinner diameter="20"></mat-spinner> </ng-template>
        </button>
    </form>
</main>