<main>
    <form [formGroup]="form" class="form">
        <mat-form-field class="form__email">
            <mat-label>Email: </mat-label>
            <input formControlName="email" matInput type="email">
        </mat-form-field>
        <mat-form-field class="form__password">
            <mat-label>Senha: </mat-label>
            <input formControlName="password" matInput type="password">
        </mat-form-field>
        <button (click)="authenticate()" [disabled]="form.invalid" class="form__login-button" mat-fab>
            <mat-icon>login</mat-icon>
            Login
        </button>
    </form>
</main>

<button (click)="teste()">Teste renew access token</button>