<main>
    <form [formGroup]="form" class="form">
        <mat-form-field class="form__email">
            <mat-label>Email: </mat-label>
            <input formControlName="email" matInput type="email">
        </mat-form-field>
        <mat-form-field class="form__password">
            <mat-label>Senha: </mat-label>
            <input formControlName="password" matInput type="password">
        </mat-form-field>
        <ng-container *ngIf="!isLoading; else loadingButtonTemplate">
            <button (click)="authenticate()" [disabled]="form.invalid" class="form__login-button" mat-fab>
                <mat-icon>login</mat-icon>
                Login
            </button>
        </ng-container>
        <ng-template #loadingButtonTemplate>
            <button disabled="true" class="form__login-button" mat-fab>
                <mat-spinner diameter="20"></mat-spinner>
            </button>
        </ng-template>
    </form>
</main>