@use '@angular/material' as mat;

$theme: mat.define-theme();

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__email, &__password{
        width: 100%;
        input {
            padding: 0px 10px;
        }
    }

    &__login-button{
        width: 200px;
    }
    
    @media only screen and (max-width: 720px) {
        width: 100%;
        .form__login-button{
            width: 200px;
        }
    }
    @media only screen and (min-width: 720px){
        width: 30%;
    }
}