/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --header-height: 90px;
    --content-height: calc(95vh - var(--header-height));
    --note-border: 2px solid rgba(204, 204, 204, 0.8);
    --note-list-border: 2px solid rgba(204, 204, 204, 0.8);
    --note-border-radius: 5px;
    --note-title-height: 50px;
}